<mat-nav-list>
    <h2 matSubheader>Pages</h2>
    <div class="myitem">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="home">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="charts">Charts</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">Profile</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="empty">Empty</a>
    </div>
    

    <mat-divider></mat-divider>
</mat-nav-list>
