<mat-nav-list>
    <h2 matSubheader>Pages</h2>
    <div class="myitem">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">Profile</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/tables">Tables</a>
    </div>
    

    <mat-divider></mat-divider>
</mat-nav-list>
