<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>Charts</h2>
         </div>
         <div class="col-lg-2 col-md-2">
             Home >Charts
         </div>
    </div>

    <div class="row" >
        <div class="col-lg-6 col-md-6  mat-elevation-z8">
            <app-scatter></app-scatter>
        </div>
        <div class="col-lg-6 col-md-6  mat-elevation-z8">
            <app-pie></app-pie>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6  mat-elevation-z8">
            <app-line-column></app-line-column>
        </div>
        <div class="col-lg-6 col-md-6  mat-elevation-z8">
            <app-column></app-column>
        </div>
    </div>
</div>
    