.checki
{
    margin-left:auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.card-title
{
    font-weight: bold;
}
.card-subtitle
{
    font-size: 15px;
}
i
{
    display: flex;
    justify-content: space-around;
}