<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"/>
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>Profile</h2>
         </div>
         <div class="col-lg-2 col-md-2">
             Home >Profile
         </div>
    </div>
<div class="row">
<div class="col-lg-4 col-md-4">
    <div class="card ">
        <div class="card-body checki">
                <img src="assets/prof.png" alt="" class="rounded-circle" width="150">
                <h4 class="card-title">Sachin Tendulkar</h4>
                <h6 class="card-subtitle">Cricketer</h6>
    
        </div>
        <div>
            <mat-divider></mat-divider>
        </div>
        <div class="card-body">
            <h5 class="text-muted">E-mail Address</h5>
            <h5>sachin_10@gmail.com</h5>
            <h5 class="text-muted">Phone</h5>
            <h5>{{phone}}</h5>
            <h5 class="text-muted">Address</h5>
            <h5>71 Pilgrim Avenue Chevy Chase,MD 20815</h5>
            <h5 class="text-muted">Social Profile</h5>
            <br>
            <button class="btn btn-circle btn-secondary rounded-circle">
                <i class="fab fa-instagram">
                </i> 
            </button>
            <button class="btn btn-circle btn-secondary rounded-circle">
                <i class="fab fa-facebook">
                </i>
            </button>
            <button class="btn btn-circle btn-secondary rounded-circle">
                <i class="fab fa-github">
                </i>
            </button>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-8">
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">Full Name</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Sachin Tendulkar"
                        class="form-control form-control-line" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Email</label>
                    <div class="col-md-12">
                        <input type="email" placeholder="sachin_10@gmail.com" class="form-control form-control-line" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Password</label>
                    <div class="col-md-12">
                        <input type="password" value="password"  class="form-control form-control-line" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Phone No.</label>
                    <div class="col-md-12">
                        <input  #p type="text" placeholder="{{phone}}"  class="form-control form-control-line" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-md-12">Country</label>
                    <div class="col-md-12">
                        <select class="form-control">
                            <option >United Kingdom</option>
                            <option >India</option>
                            <option >USA</option>
                            <option >Canada</option>
                            <option >Thailand</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="State" class="col-md-12">State</label>
                    <div class="col-md-12">
                        <select  name="s1" class="form-control"  >
                            <option>Rajasthan</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Uttar Pradesh</option>
                          </select>
                    </div>                    
                </div>  
                <div class="form-group">
                    <label for="city" class="col-md-12">City</label>
                    <div class="col-md-12">
                        <select  name="s1" class="form-control"  >
                            <option>Jaipur</option>
                            <option>Gurugram</option>
                            <option>Shimla</option>
                            <option>Lucknow</option>
                          </select>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-success text-white" (click)="onSubmit(p.value)">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>