<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>Dashboard</h2>
         </div>
         <div class="col-lg-2 col-md-2">
             Home > Dashboard
         </div>
    </div>
    
    
    <div class="row ">
        <div class="mat-card col-lg-8 col-md-8 mat-elevation-z8" id="line">
            <app-line-column></app-line-column>
        </div>
        <div class=" col-md-3 " id="bar">
            <div class="row mat-card mat-elevation-z8 ">
                <app-bar label="Users" total="18K" percentage="50%"></app-bar>
            </div>
            <br><br>
            <div class="row  card mat-elevation-z8">
                <div class="card-body">
                    <h4 class="card-title mb-0">Users</h4>
                    <h2 class="font-light">
                        "35,568 "
                        <span class="font-16 text-success font-medium">+23%</span>
                    </h2>
                    <div class="mt-4">
                        <div class="row text-center">
                            <div class="col-6 border-right">
                                <h4 class="mb-0">58%</h4>
                                <span class="font-14 text-muted">New Users</span>
                            </div>
                            <div class="col-6">
                                <h4 class="mb-0">42%</h4>
                                <span class="font-14 text-muted">Repeat Users</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <br>
    
    <mat-divider></mat-divider>
    <br>
    <div class="row" >
        <div class="col-lg-7 col-md-7">
            <app-table></app-table>
        </div>
        <div class="col-md-4 col-lg-4 offset-md-1">
            <app-pie></app-pie>
        </div>
              
    </div>
</div>
