h4
{
    margin-top: 0;
    //font-weight: bold;
}
.total
{
    font-size: 3em;
}
.mat-icon,
.description
{
    color: green;
    font-size: 2em;
}
.mat-icon
{
    position: relative;
    padding: 0;
    
}
.text
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}