<div class="container">
<div class="card">
    <div class="card-header">
      <h2>Sign-Up</h2>
    </div>
    <div class="card-body">
       
            <form class="form-signin" name="signup" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col" >
                        <div class="form-group"><!--form group is used for proper grouping -->
                            <label for="firstname">First Name</label>
                            <input [(ngModel)]="signup.fname"  name="fname" type="text"  class="form-control" placeholder="Enter your first name here...." #fname="ngModel" required  minlength="4">
                            <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="fname.hasError('required')">
                                 First Name is required.
                                </div>
                                <div *ngIf="fname.hasError('minlength')">
                                    Minimum Length is 4 characters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input [(ngModel)]="signup.lname" name="lname" type="text" class="form-control" placeholder="Enter your last name here...."  required minlength="4" #lname="ngModel">
                            <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="lname.hasError('required')">
                                 Last Name is required.
                                </div>
                                <div *ngIf="lname.hasError('minlength')">
                                    Minimum Length is 4 characters.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input  [(ngModel)]="signup.mail" type="email" name="mail" class="form-control" [pattern]="emailPattern" placeholder="Enter your E-mail ID here...." ngModel required email #mail="ngModel"> 
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="mail.hasError('required')">
                                 E-mail is required.
                                </div>
                                <div *ngIf="mail.hasError('pattern')"> 
                                     Email not valid.
                                </div>	
                            </div>
                </div>
                <div class="form-group">
                    <label for="contact">Contact No.</label>
                    <input [(ngModel)]="signup.pnumber" type="tel" class="form-control" name="pnumber" placeholder="Enter your contact no. here...." ngModel required minlength="10" maxlength="10" #pnumber="ngModel">    
                    <div *ngIf="pnumber.invalid && (pnumber.dirty || pnumber.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="pnumber.hasError('required')">
                                 Contact No. is required.
                                </div>
                                <div *ngIf="pnumber.hasError('minlength')">
                                    Enter valid No. of length 10.
                                </div>
                                <div *ngIf="pnumber.hasError('maxlength')">
                                    Enter valid No. of length 10.
                                </div>
                            </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="form-group"><!--form group is used for proper grouping -->
                            <label for="address">Address 1(Street/Flat No.)</label>
                            <input  [(ngModel)]="signup.a1" name="a1" type="text"  class="form-control" placeholder="Enter your address here...." ngModel required #a1="ngModel">
                            <div *ngIf="a1.invalid && (a1.dirty || a1.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="a1.hasError('required')">
                                 Address is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="address2">Address 2(Area/Region)</label>
                            <input [(ngModel)]="signup.a2" name="a2" type="text" class="form-control" placeholder="Enter your last address here...." ngModel required #a2="ngModel">
                            <div *ngIf="a2.invalid && (a2.dirty || a2.touched)"
                            class="alert alert-danger">                               
                            <div *ngIf="a2.hasError('required')">
                             address is required.
                            </div>
                           
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input [(ngModel)]="signup.country" name="country" type="text" class="form-control"  placeholder="Enter your country name here...." ngModel required #country="ngModel">
                            <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="country.hasError('required')">
                                 Country is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="State">State</label>
                            <select [(ngModel)]="signup.state"  name="state" class="form-control" #state="ngModel" (change)="changeCountry($event)" required>
                                
                                <option *ngFor ="let count of stateList" >{{count.name}}</option>
                            </select>
                            <div class="alert alert-danger" *ngIf="state.errors  && (state.dirty || state.touched)">              
                                 Please select your state
                            </div>
                        </div>        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="City">City</label>
                            <select [(ngModel)]="signup.city" name="city" class="form-control" #city="ngModel" >
                                <option *ngFor ="let city of cities">{{city}}</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="city.errors  && (city.dirty || city.touched)">              
                                Please select your city
                              </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="signup.password" name="Password" type="password" class="form-control" placeholder="Enter your password here...." ngModel required minlength="6" #password="ngModel">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="alert alert-danger">                               
                                <div *ngIf="password.hasError('required')">
                                 Please Set Password is required.
                                </div>
                                <div *ngIf="password.hasError('minlength')">
                                    Minimum length is 6 characters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="confirmpassword">Password</label>
                            <input [(ngModel)]="signup.confirmpassword" name="confirmpassword" type="password" class="form-control" placeholder="Re-Enter your password here...." ngModel required   #confirmpassword="ngModel">
                            <div class="alert alert-danger" *ngIf="signup.password!=signup.confirmpassword && confirmpassword.touched" >              
                                Password not matching
                              </div>
                        </div>
                    </div>                    
                </div>
             <div class="row">
                   <button   type="submit" class="btn btn-primary" [disabled]="signup.invalid">Submit</button>
                  <button  type="reset" class="btn btn-danger"  >Clear</button>
             </div>
             <div >
                <p >Already a member?</p>
                <a  href="/" class="cent">Login</a>
            </div>
                     
            </form>
        </div>
    </div>

  </div>